select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    text-align-last: center;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 12px 8px; /* 셀 간격 조정 */
    border-bottom: 1px solid #ddd;
    text-align: center;
}

thead th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}

tbody tr:hover {
    background-color: #f1f1f1; /* 호버 시 색상 */
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination .pages button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
    cursor: pointer;
}

.pagination .pages button.active {
    background-color: #007bff;
    color: white;
}

.pagination .pages button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.btn-plusMath{
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #60a191;
    width: 130px;
    font-size: 20px;
    height: 50px;
}

.btn-allMath{
     border: none;
     border-radius: 8px;
     color: #555;
     background-color: #f0efc3;
     width: 70px;
     font-size: 20px;
     height: 50px;
}

.filter-controls {
    margin-bottom: 20px; /* 원하는 여유 공간 크기로 설정 */
}

.delete-btn{
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #ff1d1d;
}

.btn-alter{
      border: none;
      border-radius: 8px;
      color: white;
      background-color: #60a191;
}