select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    text-align-last: center;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 12px 8px; /* 셀 간격 조정 */
    border-bottom: 1px solid #ddd;
    text-align: center;
}

thead th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

tbody tr:hover {
    background-color: #f0f0f0; /* 호버 시 색상 */
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination a, .pagination .pages a {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    padding: 8px 12px; /* 패딩을 줄여 높이를 조정 */
    margin: 0; /* 불필요한 마진이 있으면 제거 */
}

/* 경기 수와 버튼들 */
.filter-controls {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽으로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px;
}

.AllText {
    font-size: 16px;
    color: #333;
    padding: 10px 0; /* 버튼과 동일한 padding */
    margin: 0; /* 버튼과 동일한 margin */
}

.divider {
    margin-left: 8px;
    margin-right: 8px;
}

/* 신규 경기 버튼 */
.btn-plusMath{
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #60a191;
    width: 130px;
}

/* 전체 경기 버튼 */
.btn-allMath{
    border: none;
    border-radius: 8px;
    color: #333;
    background-color: #f0f0f0;
    width: 130px;
}

/* 삭제 버튼 */
.delete-btn{
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #e74c3c;
}

/* 수정 버튼 */
.btn-alter{
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #60a191;
}