select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 20px; /* 검색 바와 총 회원 수 간의 간격 */
}

.allUsers {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
    margin: 0;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 8px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    width: 200px;
}

.search-bar .filter-icon {
    cursor: pointer;
}

#searchButton{
    border: none;
    border-radius: 8px;
    background-color: #60a191;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    width: 80px;
    height: 40px;
}

.delete-button {
    border: none;
    border-radius: 8px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    width: 130px;
}

.add-button {
    background-color: #60a191;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 130px;
}

/* 테이블 스타일 */
table {
    table-layout: fixed; /* 모든 셀의 너비를 동일하게 고정 */
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 12px 8px; /* 셀 간격 조정 */
    border-bottom: 1px solid #ddd;
    text-align: center;
}

thead th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

tbody tr:hover {
    background-color: #f0f0f0; /* 호버 시 색상 */
}

/* 멤버십 셀렉트 */
#membershipFilter {
    margin-left: 10px; /* 원하는 값으로 조정 */
}

/* 페이지네이션 */
.pagination a, .pagination .pages a {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    padding: 8px 12px; /* 패딩을 줄여 높이를 조정 */
    margin: 0; /* 불필요한 마진이 있으면 제거 */
}