<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<div th:fragment="header">
  <div class="header">
    <div class="navbar">
<!--      <div class="brand">관리자 : OOO님</div>-->
<!--      <img th:src="@{/img/logo-mms.8f3ddc2a.png}" alt="로고" style="height: 120px; width:80px;  margin: 0 10px;">-->
      <div class="nav-links">
<!--        <a href="/admin/games" class="href">로그아웃</a>-->
        <a href="/" class="href">돌아가기</a>
      </div>
    </div>
    <div class="title">
      <h3>MMS ADMIN PAGE</h3>
    </div>
  </div>
</div>

<style>
  .brand, .href {
    margin-top: 0;
  }
</style>
</html>
