<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutReal}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content" class="content">

    <h1>관리자 추가</h1>

    <div>
        <form th:action="@{/admin/userList}">
            <form th:action="@{/admin/createAdmin" method="post">
                <input type="email" id="adminEmail" name="adminEmail" placeholder="이메일을 입력하세요" required>
                <button type="submit">중복 확인</button>
            </form>

            <!-- 이메일 중복 결과 메시지 출력 -->
            <div th:if="${emailCheckMessage}">
                <p th:text="${emailCheckMessage}" style="color: red;"></p>
            </div>

            <!-- 비밀번호 -->
            <div>**비밀번호
                <input type="password" id="adminPassword" name="adminPassword" required placeholder="비밀번호를 입력해주세요."/>
            </div>

            <!-- 비밀번호 확인 -->
            <div> **비밀번호 확인
                <input type="password" id="adminConfirmPassword" name="adminConfirmPassword" required
                       placeholder="한 번 더 입력해주세요."/>
            </div>

            <!-- 이름 -->
            <div> **이름
                <input type="text" id="adminName" name="adminName" required placeholder="이름을 입력해주세요."/>
            </div>

            <!-- 핸드폰 번호 -->
            <div class="form-group">
                <label for="userPhone">**전화번호</label>
                <div class="phone-input-group single-line">
                    <select id="userPhonePart1" name="userPhonePart1" required>
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                    </select> -
                    <input type="tel" id="userPhonePart2" name="userPhonePart2" maxlength="4" required placeholder="0000" /> -
                    <input type="tel" id="userPhonePart3" name="userPhonePart3" maxlength="4" required placeholder="0000" />
                </div>
            </div>

            <!-- 주소 검색 폼  [ 카카오 ]-->
            <form action="/search-address" method="post">
                <label for="query">**주소 검색</label>
                <input type="text" id="query" name="query" required placeholder="주소를 입력하세요." />
                <button type="submit">검색</button>
            </form>

            <!-- 주소 결과 표시 -->
            <div th:if="${addressResult}">
                <p th:text="${addressResult}">검색 결과가 여기에 표시됩니다.</p>
            </div>


            <!--      users role = admin 고정    주소 = 주소 [카카오]  createAt -->
            <button type="submit">관리자 추가</button>
        </form>
        <a th:href="@{/admin/userList}" class="button">돌아가기</a>
    </div>

</div>
</body>
</html>