<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket Modal Main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="match">
        <ul>
            <li id="match-info">GS MMS VS 한국전력</li>
            <li id="match-stadium">서울하이체육관</li>
            <li id="match-date">2024.10.24(목) 19:00</li>
        </ul>
    </div>

    <div id="seat">
        <table>
            <thead>
                <tr>
                    <th>구역</th>
                    <th>매수 선택</th>
                    <th>잔여석</th>
                </tr>
            </thead>
            <tbody>
                <tr class="zone">
                    <td class="zone-name">골드</td>
                    <td><p class="available-seat-zone">90</p>석</td>
                </tr>
                <tr class="section">
                    <td class="section-name">GA</td>
                    <td>
                        - <input class="ticket-amount" type="number"/> +
                    </td>
                    <td><p class="available-seat-section">30</p> 석</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="buttons">
        <button id="btn-pay">결제하기</button>
        <button id="btn-cancel">취소</button>
    </div>
    <script th:inline="javascript">
        $(document).ready(function(){
            $.ajax({
              url: "/purchase/section/{matchId}",
              type: "get",
              success: function(data) {

              },
              error: function(xhr, status, error) {
                  console.error('Error fetching matches:', error);
              }
          });
      });
    </script>
</body>
</html>