<!DOCTYPE html>
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<body>
<div layout:fragment="content" class="content">
    <section>
        <div class="tab-menu">
        </div>
        <div class="container">
            <div class="table-header">
                <div class="search-bar">
                    <span class="filter-icon">🔍</span>
                        <option value="name">이름</option>
                        <option value="email">이메일</option>
                        <option value="membership">멤버십</option>
                    </select>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>멤버십</th>
                    <th>충전 잔액</th>
                    <th>회원 상태</th>
                </tr>
                </thead>
                <tr>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                </div>
            </div>
        </div>
</body>
</html>