<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutReal}">
<head>
    <!-- 개별 페이지 전용 CSS 파일 -->
    <link rel="stylesheet" th:href="@{/css/user-detail.css}">
</head>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="userInfo">
        <p><strong>🏐 회원 번호 :</strong> <span th:text="${user.userId}">1</span></p>
        <p><strong>🏐 회원 이름 : </strong><span th:text="${user.userName}">User Details</span></p>
        <p><strong>🏐 Email : </strong> <span th:text="${user.userEmail}">john.doe@example.com</span></p>
        <p><strong>🏐 멤버십 등급 : </strong> <span th:text="${user.userMembershipName}">GOLD</span></p>
        <p><strong>🏐 계정 상태 : </strong> <span th:text="${user.userStatus}">ACTIVE</span></p>
    </div>
    <div class="button-line">
        <form th:action="@{/admin/userDetail/{userId}(userId=${user.userId})}" method="post">
            <button type="submit" class="button"> 상태변경</button>
        </form>
        <button class="button btn-back" onclick="location.href='/admin/userList'">돌아가기</button>
    </div>
</div>
</body>
</html>